/*
	960 Grid System ~ Text CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
	font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

:focus, a:focus {
	outline: 0px dotted;
}


hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
	font-size: 25px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 17px;
}

h6 {
	font-size: 15px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

li {
	margin-left: 0px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address
 {
	margin-bottom: 20px;
}

.red{color:#FF0000}
.grey{color:#888888}

.jobs_list h1,.jobs_list h2,.jobs_list h3,.jobs_list h4,.jobs_list h5,.jobs_list h6{margin:0}
.jobs_list .job-header{margin-bottom:10px}

.jobs_list span{color:#888888}
.jobs_list p{margin-bottom:10px}
.jobs_list img{display:inline !important}

.jobs_list section.job-wrapper{border-bottom:1px solid #6E7785}

nav.page{margin:10px 0}
nav.page ul {
	text-align: center;
	}
nav.page ul li {
	display: inline;
	margin: 0 4px 0 0;
	}
	
nav.page ul li.active a {
	color:#FFFFFF;
	background:#1A32BC
	}
	
	
nav.page ul li a {
	text-decoration:none;
	padding: 3px 8px;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #ddd;
background: #fff;
	
	}
nav.page ul li a:hover,
nav.page ul li a:focus {
	background: #f0f0f0;
	border-color: #ccc;
	}
nav.page ul li a:active {
	background: #fff;
	border-color: #ddd;
	}								
	
.button_example{
border:1px solid #df0909; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:38px;font-family:arial, helvetica, sans-serif; padding: 10px 20px 10px 20px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #F62B2B; background-image: -webkit-gradient(linear, left top, left bottom, from(#F62B2B), to(#D20202));
 background-image: -webkit-linear-gradient(top, #F62B2B, #D20202);
 background-image: -moz-linear-gradient(top, #F62B2B, #D20202);
 background-image: -ms-linear-gradient(top, #F62B2B, #D20202);
 background-image: -o-linear-gradient(top, #F62B2B, #D20202);
 background-image: linear-gradient(to bottom, #F62B2B, #D20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F62B2B, endColorstr=#D20202);
}

.button_example:hover{
 border:1px solid #b30808;
 background-color: #e40a0a; background-image: -webkit-gradient(linear, left top, left bottom, from(#e40a0a), to(#9f0202));
 background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202);
 background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);
 background-image: -ms-linear-gradient(top, #e40a0a, #9f0202);
 background-image: -o-linear-gradient(top, #e40a0a, #9f0202);
 background-image: linear-gradient(to bottom, #e40a0a, #9f0202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e40a0a, endColorstr=#9f0202);
}